<!DOCTYPE html>
<html lang="en" ng-app="MyMoviesApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <!-- google font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- animations -->
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <!-- end of animations -->
  <title>My Movies App</title>
</head>
<body ng-controller="MainController as ctrl">
  <div class="topbackground1">
    <div data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1500" class="titletext">
      <div> L'AVENTURE CINEMA </div>
      <div class="brandstatement">
        employee recommendations - we are passionate about movies
      </div>
    </div>

    <!-- ////// Side Nav partial////-->
    <% include partials/nav.ejs %>
    <!--///////////////////////////// -->

    <div class="recommendations1">
      <a href="#topranked">
        <div class="divh5">
          <h5 class="filmh5">In Theatres Now</h5>
          <div class="choices1"></div>
        </div>
        <a href='#ourfavorite'>
          <div class="divh5">
            <h5 class="filmh5">Our Favorite Movies</h5>
            <div class="choices3"></div>
          </div>
          <a href="#comingsoon">
            <div class="divh5">
              <h5 class="filmh5">Coming Soon</h5>
              <div class="choices2"></div>
            </div>
          </div>
          <!-- sections -->
          <a name='topranked'></a>
          <div class="topranked">
            <h3 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="filmh3">In Theatres Now</h3>
            <div class="moviestopranked1">


              <!-- displays movies from movies page -->
              <div class="divmovies" ng-repeat="movie in ctrl.movies">
                <div>
                  <div class="divmovies">
                    <div class="movie1">
                      <img class="movieimg" src="{{movie.img_url}}">
                      <h4>{{movie.title}}</h4>
                      <h5 class="movieh5">{{movie.year}}</h5>
                    </div>
                  </div>

                </div>
              </div>

              <!--  -->

              <div class="divmovies">
                <div class="movie1">
                  <a class= "viewmore" href="/movies">
                    <br>
                    View More <br> >>>
                  </a>
                </div>
              </div>
            </div>


          </div>


          <a name='ourfavorite'></a>
          <div class="ourfavorite1">
            <h3 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="filmh3">Our Favorite Movies</h3>
            <div class="moviestopranked1">
              <div class="divmovies">
                <div class="movie1">
                  <img class="movieimg" src="http://img.soundtrackcollector.com/cd/large/Supertroopers_TVT6870.jpg" alt="">
                </div>
                <div class="movieh5">Super Troopers</div>
              </div>
              <div class="divmovies">
                <div class="movie1">
                  <img class="movieimg" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b0/Avatar-Teaser-Poster.jpg/220px-Avatar-Teaser-Poster.jpg"
                  alt="">
                </div>
                <div class="movieh5">Avatar</div>
              </div>
              <div class="divmovies">
                <div class="movie1">
                  <img class="movieimg" src="https://images-na.ssl-images-amazon.com/images/I/31Y3Z64XZQL.jpg" alt="">
                </div>
                <div class="movieh5">Elf</div>
              </div>
              <div class="divmovies">
                <div class="movie1">
                  <img class="movieimg" src="https://i.ytimg.com/vi/zOS5NIKz_bw/hqdefault.jpg" alt="">
                </div>
                <div class="movieh5">Inglorious Bastards</div>
              </div>
              <div class="divmovies">
                <div class="movie1">
                  <img class="movieimg" src="https://images-na.ssl-images-amazon.com/images/I/71PSMJ0TwmL._SY355_.jpg" alt="">
                </div>
                <div class="movieh5">The Force Awakens</div>
              </div>
              <div class="divmovies">
                <div class="movie1">
                  <img class="movieimg" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f9/TheAvengers2012Poster.jpg/220px-TheAvengers2012Poster.jpg" alt="">
                </div>
                <div class="movieh5">Avengers</div>
              </div>
              <div class="divmovies">
                <div class="movie1">
                  <img class="movieimg" src="https://images-na.ssl-images-amazon.com/images/I/51USxyLM87L._SY355_.jpg" alt="">
                </div>
                <div class="movieh5">Jaws</div>
              </div>
              <div class="divmovies">
                <div class="movie1">
                  <img class="movieimg" src="https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Frozen_%282013_film%29_poster.jpg/220px-Frozen_%282013_film%29_poster.jpg" alt="">
                </div>
                <div class="movieh5">Frozen</div>
              </div>
              <div class="divmovies">
                <div class="movie1">
                  <img class="movieimg" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d5/Iron_Man_3_theatrical_poster.jpg/220px-Iron_Man_3_theatrical_poster.jpg" alt="">
                </div>
                <div class="movieh5">Iron Man</div>
              </div>
              <div class="divmovies">
                <div class="movie1">
                  <img class="movieimg" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a7/Skyfall_poster.jpg/220px-Skyfall_poster.jpg" alt="">
                </div>
                <div class="movieh5">Skyfall</div>
              </div>
            </div>
          </div>
          <a name='comingsoon'></a>
          <div class="comingsoon1">
            <h3 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="filmh3">Movies Coming Soon</h3>
            <div class="moviestopranked1">
              <img class="imgMoviesComingsoon" src="/css/images/movies2018(1).png" alt="">
              <img class="imgMoviesComingsoon" src="/css/images/movies2018(2).png" alt="">
            </div>
          </div>
        </div>
        <!-- https://www.fandango.com/freemoviecontent#fandAppBanners -->
        <div class="moviesfandango">
          <div data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1500">
            <div class="findmorefandango">Find more information at fandango.com</div>
            <a href="http://www.fandango.com/Redirect.aspx?wss=link764x383" border="0">
              <img src="https://images.fandango.com/r1.0.258/redesign/areas/staticpages/img/linktous/logos/764x383.gif" width="300" height="auto"
              border="0" alt="Find Theater Showtimes" /></a>
              <div>
                <a href="https://www.fandango.com/moviesintheaters">
                  <img src="https://images.fandango.com/r1.0.258/redesign/areas/staticpages/img/linktous/search/300x250/v1.gif" border="0"
                  alt="Find Theater Showtimes" /></a>
                  <script type="text/javascript" src="https://www.fandango.com/affiliatewidget_srchban_300x250.js?r=313_841870" async></script>
                </div>
              </div>
            </div>
            <footer class="footerMovies">
              <div class="footerMoviesText">
                <p class="contactinfo" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500" >About</p>
                <p class="contactinfo" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="750" >Careers</p>
                <p class="contactinfo" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000" >NYC, NY</p>
                <p class="contactinfo" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1250" >555.321.7654</p>
                <p class="contactinfo" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500" >Contact us at admin@email.com</p>

                <div class="footercenter">
                  <i data-aos="flip-down" data-aos-duration="1500" class="fa fa-facebook-official w3-hover-opacity"></i>
                  <i data-aos="flip-down" data-aos-duration="1750" class="fa fa-instagram w3-hover-opacity"></i>
                  <i data-aos="flip-down" data-aos-duration="2000" class="fa fa-snapchat w3-hover-opacity"></i>
                  <i data-aos="flip-down" data-aos-duration="2250" class="fa fa-pinterest-p w3-hover-opacity"></i>
                  <i data-aos="flip-down" data-aos-duration="2500" class="fa fa-twitter w3-hover-opacity"></i>
                  <i data-aos="flip-down" data-aos-duration="2750" class="fa fa-linkedin w3-hover-opacity"></i>
                </div>
                <div class="dim" ng-class="(ctrl.editModal? 'editModal' : '')">
                  <div class="modal">
                    <h4 class="close" ng-click="ctrl.editModal = false">Close</h4>
                    <div>
                      <h2>Edit</h2>
                      <form class="editModal" ng-submit="ctrl.processEditForm(ctrl.toEdit)">
                        <div class="row">
                          <input type="text" ng-model="ctrl.createForm.title" placeholder="{{ctrl.toEdit.title}}">
                          <input type="text" ng-model="ctrl.createForm.img_url" placeholder="{{ctrl.toEdit.img_url}}">
                          <input type="text" ng-model="ctrl.createForm.year" placeholder="{{ctrl.toEdit.year}}">
                          <input type="text" ng-model="ctrl.createForm.runtime" placeholder="{{ctrl.toEdit.runtime}}">
                          <input type="submit">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <br>
              </div>
            </footer>
            <script>AOS.init();</script>
          </body>
          </html>
