<!DOCTYPE html>
<html ng-app="MyMoviesApp">
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>My Movies App</title>
</head>
<body ng-controller="MainController as ctrl">
  <div class="wrapper">
    <header>
      <nav>
        <a href="#">My Movies App</a>
        <form ng-submit="ctrl.processLogin()">
          <input type="text" ng-model="ctrl.formdata.username" placeholder="Username">
          <input type="text" ng-model="ctrl.formdata.password" placeholder="Password">
          <input type="submit">
        </form>
      </nav>
    </header>
    <main>
      <section class="top-section">
        <div class="carousel">
          <img src="http://via.placeholder.com/800x500" alt="">
        </div>
      </section>
      <div class="headline-wrapper">
        <h3>Movies</h3>
      </div>
      <section class="section-display">
        <div ng-repeat="movie in ctrl.movies | limitTo : 6" class="featured">
          <div>
            <img src="http://via.placeholder.com/200x200">
            <h4>{{movie.title}}</h4>
            <h5>This is where a description would go if we were to have one but we don't so this is what we have.. </h5>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FFC300" stroke="#FFC300" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
          </div>
        </div>
      </section>
      <h4><a href="/movies">View More Movies...</a></h4>
      <div class="headline-wrapper">
        <h3>Actors</h3>
      </div>
      <section class="section-display">
        <div ng-repeat="actor in ctrl.actors | limitTo : 6" class="featured">
          <!-- <img src="movie.img"> -->
          <div>
            <img src="http://via.placeholder.com/200x200">
            <h4>{{actor.first_name}} {{actor.last_name}}</h4>
          <div>
        </div>
      </section>
      <h4><a href="/actors">View More Actors...</a></h4>
    </main>
    <div class="push"></div>
  </div>
  <footer class="footer">...</footer>
</body>
</html>
