<!DOCTYPE html>
<html ng-app="MyMoviesApp">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="../public/style.css">
    <title>My Movies App</title>
  </head>
  <body ng-controller="MainController as ctrl">
    <header>
      <nav>
        <a href="#">My Movies App</a>
      </nav>
    </header>
    <div class="body-container">
      <aside>
        <ul>
          <li><button type="button" name="title">Title</button></li>
          <li><button type="button" name="year">Year</button></li>
          <li><button type="button" name="rating">Rating</button></li>
          <li><button type="button" name="released">Release Date</button></li>
          <li><button type="button" name="runtime">Runtime</button></li>
        </ul>
        <h2 ng-click="ctrl.addMovie()">Add New Movie</h2>
        <div ng-if="true">
          <form ng-submit="ctrl.processForm()">
            <input type="text" ng-model="ctrl.formdata.title" placeholder="Movie Title">
            <input type="text" ng-model="ctrl.formdata.year" placeholder="Year">
            <input type="text" ng-model="ctrl.formdata.rating" placeholder="Rating">
            <input type="text" ng-model="ctrl.formdata.released" placeholder="Release Day">
            <input type="text" ng-model="ctrl.formdata.runtime" placeholder="Runtime">
            <input type="submit">
          </form>
        </div>
      </aside>
      <main ng-repeat="movie in ctrl.movies">
        <div>
          <img src="http://via.placeholder.com/200x200">
          <h4>{{movie.title}}</h4>
          <h5>This is where a description would go if we were to have one but we don't so this is what we have.. </h5>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FFC300" stroke="#FFC300" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
        </div>
      </main>
    </div>
  </body>
</html>
