body {
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
}

.body-container {
  display: flex;
  flex: 1;
  margin-top: 10px;
}

aside {
  flex: 0 0 12em;
  padding-right: 20px;
  border-right: 1px solid #90A4AE;
}

ul {
  list-style: none;
  text-align: left;
}

button {
  font-size: 20px;
  background-color: #90A4AE;
  color: white;
  border: none;
  border-radius: 2px;
  margin-bottom: 5px;
  width: 150px;
  padding: 5px 15px;
}

button:hover {
  opacity: .5;
}

nav {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #90A4AE;
  padding: 10px;
  color: #5D6D7E;
}

.carousel {
  margin: auto;
  text-align: center;
  background-color: #90A4AE;
  padding: 20px;
}

nav a {
  text-decoration: none;
  margin: 0px;
  color: #5D6D7E;
}

main {
  margin-left: 20px;
}

.headline-wrapper {
  background-color: #DAF7A6;
  margin-left: 0;
  width: 200px;
  text-align: right;
}

h3 {
  color: #5d6d7e;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  letter-spacing: 1px;
}

h4 a {
  color: #5d6d7e;
  margin-left: 55px;
}

.section-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.section-display h4 {
  color: #5d6d7e;
}

.section-display h5 {
  color: #aeb6bf;
  margin: 0;
}

.featured {
  margin-right: 10px;
  max-width: 20%;
  margin-left: 60px;
}

.featured h4 {
  margin: 0px;
  margin-bottom: 2px;
}

.featured img:hover {
  opacity: .5;
}

/*================*/
/*Sticky Footer*/
/*================*/

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100px;
}

.footer,
.push {
  height: 50px;
}

/* ====================== */
/* Style */
/* ====================== */

.topbackground {
  background-image: url(https://static.pexels.com/photos/109669/pexels-photo-109669.jpeg);
  /* background-image: url(https://images.unsplash.com/photo-1485095329183-d0797cdc5676?auto=format&fit=crop&w=2100&q=80); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  text-align: center;
}

h1 {
  color: white;
  font-size: 55px;
  margin: auto;
  padding-top: 150px;
}

.add:hover {
  opacity: .5;
  color: grey;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#F8F8F8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

body {
  margin: 0;
}

a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  color: black;
}

a.active {
  background-color: #4CAF50;
  color: white;
}

/* .right {
display: flex;
flex-direction: row;
justify-content: flex-end;
padding-right: 20px;
} */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.sideNavPadding {
  padding: 0 15px;
}

/* w3schools login buttons */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form */
.moviesbutton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.moviesbutton:hover {
  opacity: 0.8;
}

.closebtn:hover {
  color:white;
}

/* @media screen and (max-height: 450px) {
.sidenav {
padding-top: 15px;
}
.sidenav a {
font-size: 18px;
}
} */

.topnav {
  text-align: left;
  display: inline-block;
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F8F8F8;
  overflow-x: hidden;
  transition: 0.5s;
}

.topnav a {
  display: inline-block;
  text-align: left;
  width: 100px;
}

.topnav a:hover {
  display: inline-block;
  text-align: left;
  width: 100px;
  background-color: gray;
}

.threelines {
  padding: 14px;
}

.threelines:hover {
  padding:0 60px 0 14px;
  background-color: white;
}

.recommendations {
  display: flex;
  flex-direction: row;
  padding: 50px 0 100px 180px;
}

.moviestopranked {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 0 100px 180px;
}

.choices1 {
  width: 100px;
  height: 100px;
  margin: 30px;
  padding: 40px;
  text-align: center;
  /* border: 1px solid black; */
  background-color: #E3E7D3;
  background-image: url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  /* border-radius: 400px; */
  box-shadow: 5px 10px 10px #888888;
}

.choices2 {
  width: 100px;
  height: 100px;
  margin: 30px;
  padding: 40px;
  text-align: center;
  /* border: 1px solid black; */
  background-color: #BDC2BF;
  /* background-image: url(https://images.unsplash.com/photo-1507924538820-ede94a04019d?auto=format&fit=crop&w=1950&q=80); */
  background-image: url(https://images.unsplash.com/photo-1504582437221-cf3aade39746?auto=format&fit=crop&w=800&q=80);
  background-size: cover;
  /* border-radius: 400px; */
  box-shadow: 5px 10px 10px #888888;
}

.choices3 {
  width: 100px;
  height: 100px;
  margin: 30px;
  padding: 40px;
  text-align: center;
  /* border: 1px solid black; */
  background-color: #989C94;
  background-image: url(https://images.unsplash.com/photo-1512070679279-8988d32161be?auto=format&fit=crop&w=756&q=80);
  background-size: cover;
  /* border-radius: 400px; */
  box-shadow: 5px 10px 10px #888888;
}

.movie1 {
  width: 100px;
  height: auto;
  margin: 30px 30px 5px 30px;
  text-align: center;
  /* background-image: url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?auto=format&fit=crop&w=1950&q=80); */
  /* background-size: cover; */
  /* box-shadow: 5px 10px 10px #888888; */
}

.movieh5 {
  width: 120px;
  margin-left:20px;
}

.movieimg {
  width: 100px;
  height: auto;
  /* margin: 30px; */
  text-align: center;
}

.divh5 {
  text-align: center;
}

.filmh5 {
  width: 120px;
  padding-left: 60px;
  margin-top:5px;
}

.comingsoon {
  background-color: rgba(217, 207, 193, .4);
  height: 500px;
  text-align: center;
}

.ourfavorite {
  background-color:rgba(227, 242, 253, .4);
  height: 500px;
  text-align: center;
}

.topranked {
  background-color:rgba(138, 162, 158, .4);
  /* height: 800px; */
  text-align: center;
}

.filmh3 {
  padding-top: 100px;
  padding-left: 160px;
  margin: 0 0;
}
