body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

.contain-in-theatres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.in-theatre {
  max-width: 20%;
  margin: 30px 80px;
}

h1 {
  color: white;
  font-size: 55px;
  text-align: center;
  padding-top: 150px;
}

h2 {
  padding-left: 20px;
}

.add:hover {
  opacity: .5;
  color: grey;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#F8F8F8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color: black;
}

a.active {
  background-color: #4CAF50;
  color: white;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.sideNavPadding {
  padding: 0 15px;
}

/*w3schools login buttons https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form */

.moviesbutton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.moviesbutton:hover {
  opacity: 0.8;
}

.closebtn:hover {
  color:white;
}

.topnav {
  text-align: left;
  display: inline-block;
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #DFDFDF;
  overflow-x: hidden;
  transition: 0.5s;
}

.topnav a {
  display: inline-block;
  text-align: left;
  width: 100px;
}

.topnav a:hover {
  display: inline-block;
  text-align: left;
  width: 100px;
  background-color: gray;
}

.threelines {
  padding: 14px;
}

.threelines:hover {
  padding:0 60px 0 14px;
  background-color: white;
}

.moviestopranked1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 0 100px 180px;
  justify-content: center;
}

.choices1 {
  width: 100px;
  height: 100px;
  margin: 30px;
  padding: 40px;
  text-align: center;
  /* border: 1px solid black; */
  background-color: #E3E7D3;
  background-image: url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  /* border-radius: 400px; */
  box-shadow: 5px 10px 10px #888888;
}

.choices2 {
  width: 100px;
  height: 100px;
  margin: 30px;
  padding: 40px;
  text-align: center;
  /* border: 1px solid black; */
  background-color: #BDC2BF;
  /* background-image: url(https://images.unsplash.com/photo-1507924538820-ede94a04019d?auto=format&fit=crop&w=1950&q=80); */
  background-image: url(https://images.unsplash.com/photo-1504582437221-cf3aade39746?auto=format&fit=crop&w=800&q=80);
  background-size: cover;
  /* border-radius: 400px; */
  box-shadow: 5px 10px 10px #888888;
}

.choices3 {
  width: 100px;
  height: 100px;
  margin: 30px;
  padding: 40px;
  text-align: center;
  /* border: 1px solid black; */
  background-color: #989C94;
  background-image: url(https://images.unsplash.com/photo-1512070679279-8988d32161be?auto=format&fit=crop&w=756&q=80);
  background-size: cover;
  /* border-radius: 400px; */
  box-shadow: 5px 10px 10px #888888;
}

.movie1 {
  width: auto;
  height: 180px;
  margin: 30px 30px 5px 30px;
  text-align: center;
  /* background-image: url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?auto=format&fit=crop&w=1950&q=80); */
  /* background-size: cover; */
  /* box-shadow: 5px 10px 10px #888888; */
}

.movieh5 {
  margin-top: 0;
}

.movieimg {
  width: auto;
  height: 100px;
  /* margin: 30px; */
  text-align: center;
}

.divh5 {
  text-align: center;
}

.filmh5 {
  width: 120px;
  padding-left: 60px;
  margin-top:5px;
  font-size: 16px;
}

.topranked {
  background-color: rgba(217, 207, 193, .4);
  /* height: 800px; */
  text-align: center;
}

.filmh3 {
  padding-top: 100px;
  padding-left: 160px;
  margin: 0 0;
  font-size: 20px;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100px;
}

.footer,
.push {
  height: 50px;
}

.footerMovies {
  left:0px;
  bottom:0px;
  height:220px;
  width:100%;
  background-color: rgba(217, 207, 193, .4);
  box-shadow: 5px 65px rgba(217, 207, 193, .4);
  text-align: left;
}

.footerMoviesText {
  padding-top: 20px;
  letter-spacing: 1px;
  padding-left: 230px;
}

.recommendations1 {
  justify-content: center;
  padding-left: 100px;
  display: flex;
  flex-direction: row;
}

.topbackground1 {
  background-image: url(https://static.pexels.com/photos/109669/pexels-photo-109669.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.comingsoon1 {
  background-color: rgba(217, 207, 193, .4);
  /* height: 500px; */
  text-align: center;
}

.ourfavorite1 {
  background-color:rgba(227, 242, 253, .4);
  /* height: 500px; */
  text-align: center;
}

.titletext {
  text-align: center;
  color: white;
  margin: 0 0;
  padding: 200px 0 0 100px;
  font-size: 50px;
}

small {
  font-size: 16px;
}

.moviesfandango {
  background-color:rgba(227, 242, 253, .4);
  padding: 30px 30% 0 40%;
  margin: 0 0;
  text-align: center;
  height: 550px;
  font-size: 15px;
}

.findmorefandango {
  margin: 0 0 0 0 ;
  text-align: center;
  width: 300px;
  font-size: 15px;
}

.brandstatement {
  height: 40px;
  font-size: 16px;
}

.viewmore {
  background-color: white;
  width: 65px;
  height: 100px;
  color: black;
  padding: 0 30% 0 30%;

}

.imgMoviesComingsoon {
  width: 70%;
  height: 70%;
  display: block;
}
.new-movie-container {
  background-color: rgba(217, 207, 193, .4);
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.new-movie-container {
  background-color: rgba(217, 207, 193, .4);
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.new-movie-container form input {
  max-width: 100px;
}

.new-movie-container form input:focus {
  outline: none;
}

}
.dim {
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0px;
  top: 100px;
  width: 100%;
  height: 100%;
  z-index: 5000;
  display: none;
}

.modal {
  background-color: white;
  box-shadow: 0px 2px 5px grey;
  margin: 10px auto;
  color: #33332e;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-radius: 3px;
  width: 200px;
  height: 425px;
}

.modal h4 {
  text-align: right;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-right: 0px;
  cursor: pointer;
  font-size: 18px;
}

.modal h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 0;
}

.row > input:focus {
  outline: none;
}

.editModal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
