body {
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
}

nav {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #90A4AE;
  margin-bottom: 10px;
  padding: 10px;
  color: #5D6D7E;
}

.carousel {
  margin: auto;
  text-align: center;
}

nav a {
  text-decoration: none;
  margin: 0px;
  color: #5D6D7E;
}

h3 {
  color: #5d6d7e;
  margin-left: 20px;
  padding: 10px;
}

h4 a {
  color: #5d6d7e;
  margin-left: 60px;
}

.section-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section-display h4 {
  color: #5d6d7e;
}

.section-display h5 {
  color: #aeb6bf;
  margin: 0;
}

.featured {
  margin-right: 10px;
  max-width: 20%;
}

.featured img {
  margin-right: 15px;
}

.featured h4 {
  margin: 0px;
  margin-bottom: 2px;
}

.featured img:hover {
  opacity: .5;
}

/*================*/
/*Sticky Footer*/
/*================*/

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100px;
}

.footer,
.push {
  height: 50px;
}
